@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --background: #f2f2f2;
  --main-color: #1f509a;
  --second-color: #e88d1f;
  --third-color: #0a97b0;
  --fourth-color: #bd0000;
  --text-bold-color: #202224;
  --text-semi-bold-color: #464255;
  --text-regular-color: #242426;
  --text-thin-color: #6f6f6f;
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-style: normal;
}


/* Start Style for Sidebar */
.active {
  background-color: var(--main-color);
  color: #ffffff;
}

.active-submenu {
  color: var(--main-color);
}

.submenu {
  padding-left: 2rem;
}

.rotate {
  transform: rotate(90deg);
}
/* End Style for Sidebar */
