@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --main-color: #1f509a;
  --second-color: #e88d1f;
  --third-color: #0a97b0;
  --fourth-color: #bd0000;
  --text-bold-color: #373343;
  --text-semi-bold-color: #464255;
  --text-regular-color: #464255;
  --text-thin-color: #4f4a5fe7;
}


/* Start Style for Sidebar */
.active {
  background-color: var(--main-color);
  color: #ffffff;
}

.active-submenu {
  color: var(--main-color);
}

.submenu {
  padding-left: 2rem;
}

.rotate {
  transform: rotate(90deg);
}
/* End Style for Sidebar */
